.SocialIcons{
    display: flex;
    justify-content: center;

}
.links{
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;

}
.links a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    
}
.container{
    display: flex;
    flex-direction: column;
    
    

    
    
    

    
    

}
.container h3{
    color: white;
    font-weight: 600;
    text-align: center;
}
.copyright{
    color:white;
    text-align: center;
}
.footer{
    height: 200px;
    background-color: rgb(130, 182, 224);

    position: relative;
    bottom: 0;
    z-index: 1;
    width: 100%;
}